/* Header.module.css */
.header {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, background-position 0.8s ease, text-shadow 0.3s ease;
  }
  


  .header:hover {
    transform: scale(1.05);
    background-position: 100% 100%;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .header span {
    font-size: 16px;
    display: block;
    margin-top: 12px;
    color: #bbb;
    font-weight: 400;
    font-style: italic;
  }
  
